.hero-carousel {
    @extend %full-width;

    position: relative;
    overflow: hidden;
}

.hero-carousel__item {
    @extend %background-cover;

    display: inline-block;
}

.hero-carousel__arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: 1px solid $white;
    background: $hover-color;
    color: $white;
    transition: border 0.3s, background 0.3s;

    &:hover {
        background: $hover-light-color;
        border-color: $hover-light-color;

        .hero-carousel__arrow-icon {
            color: $black;
        }
    }
}

.hero-carousel__left-arrow-btn {
    @include media('above-tablet') {
        left: 50px;
    }

    @include media('below-tablet') {
        left: 30px;
    }
}

.hero-carousel__right-arrow-btn {
    @include media('above-tablet') {
        right: 50px;
    }

    @include media('below-tablet') {
        right: 30px;
    }
}

.hero-carousel__arrow-icon {
    font-size: 30px;
    color: $black;
    transition: color 0.5s;
}
