/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white: #FFF;
$black: #3C3C3C;


/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
$wrapper-width: 960px;


/* ------------------------------------
 *  Font
 * ------------------------------------ */
$base-font: 'Lato', PingFangTC-Thin, Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
$chinese-font: "微軟正黑體", "Microsoft JhengHei", sans-serif;

$size-32: 2em;
$size-24: 1.5em;

$weight-400: 400;
$weight-500: 500;
$weight-700: 700;
