/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white: #FFF;
$black: #3C3C3C;

$purple: #6441A4;


/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
$wrapper-width: 960px;


/* ------------------------------------
 *  Font
 * ------------------------------------ */
$base-font: 'Lato', PingFangTC-Thin, Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
$chinese-font: "微軟正黑體", "Microsoft JhengHei", sans-serif;

$weight-300: 300;
$weight-400: 400;
$weight-700: 700;
