/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white: #FFF;


/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
 $wrapper-width: 960px;


/* ------------------------------------
 *  Font
 * ------------------------------------ */
$base-font: 'Lato', PingFangTC-Thin, Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
$chinese-font: "微軟正黑體", "Microsoft JhengHei", sans-serif;
