@import 'reset';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'helpers';

*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: $weight-400;
    color: $black;
}

img {
    @extend %full-width;

    display: block;
}

.full-width-bg {
    @extend %background-cover;
    @extend %full-width;
    @extend %full-height;

    background-attachment: fixed;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     background-color: rgba(0, 0, 0, 0.5);
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    // }
}

.main-section {
    padding: 60px 0;
}

.wrapper {
    @extend %align-center;

    max-width: $wrapper-width;
}

.channel-card-section {
    display: flex;
    flex-wrap: wrap;
}

.channel-card__item {
    @include grid(3, 20px);

    cursor: pointer;
    transition: all 0.2s;

    @include media('above-desktop') {
        &:hover {
            filter: brightness(1.3);
            box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3), -3px 0 5px rgba(0, 0, 0, 0.3);
        }
    }
}

.channel-card__content {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 10px;
}

.channel-card__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.channel-card__container {
    color: $white;
    margin-left: 10px;
    width: 80%;
}

.channel-card__heading {
    font-weight: $weight-700;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
