@import 'reset';
@import 'variables';
@import 'mixins';

body {
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    width: 100%;
}

.full-width-bg {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-section {
    padding: 60px 0;
}

.wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
}

.channel-card-section {
    display: flex;
    flex-wrap: wrap;
}

.channel-card {
    @include grid(3, 20px);
}

.channel-card__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.channel-card__content {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 10px;
}

.channel-card__container {
    color: $white;
    margin-left: 10px;
}

.channel-card__heading {
    margin-bottom: 5px;
}