/* ---------------------------------
Base Styles
--------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------
Gallery: before hover
--------------------------------- */
.container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFF;
    cursor: pointer;
    transition: flex 0.7s ease-in-out,
                background-size 0.7s ease-in-out;
}

.panel1 {
    background-image: url('img/food-02_shrink.jpg');
}

.panel2 {
    background-image: url('img/food-04_shrink.jpg');
}

.panel3 {
    background-image: url('img/food-01_shrink.jpg');
}

.panel4 {
    background-image: url('img/food-03_shrink.jpg');
}

.panel5 {
    background-image: url('img/food-05_shrink.jpg');
}

.panel p {
    color: #FFF;
    font-size: 1.3em;
    font-weight: 400;
    transition: font-size 0.5s ease-in,
                transform 0.5s;
}

.panel p:nth-child(2) {
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    padding: 0.2em 0.25em;
    background: rgba(5, 1, 0, 0.8);
    border: 1px solid black;
}

.panel p:nth-child(1) {
    transform: translateY(-300px);
}

.panel p:nth-child(3) {
    transform: translateY(300px);
}

.panel1 p:nth-child(1),
.panel1 p:nth-child(3),
.panel2 p:nth-child(1),
.panel2 p:nth-child(3) {
    color: #050100;
}

/* ---------------------------------
Gallery: after hover
--------------------------------- */
.panel.active {
    flex: 2;
}

.panel.active p:nth-child(2) {
    font-size: 2.8em;
}

.panel.active p:nth-child(1) {
    transform: translateY(0);
}

.panel.active p:nth-child(3) {
    transform: translateY(0);
}
