/* ---------------------------------
Base Styles
--------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------
Gallery styles
--------------------------------- */
.container {
    display: flex;
    height: 100vh;
}

.panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFF;
}

.panel p {
    color: #FFF;
    font-size: 1.5em;
    font-weight: 400;
}

.panel p:nth-child(2) {
    font-size: 2.2em;
    font-weight: 500;
    font-style: italic;
    padding: 0.2em 0.25em;
    background: rgba(5, 1, 0, 0.8);
    border: 1px solid black;
}

.panel1 {
    background-image: url('img/food-02_shrink.jpg');
}

.panel2 {
    background-image: url('img/food-04_shrink.jpg');
}

.panel3 {
    background-image: url('img/food-01_shrink.jpg');
}

.panel4 {
    background-image: url('img/food-03_shrink.jpg');
}

.panel5 {
    background-image: url('img/food-05_shrink.jpg');
}

.panel1 p:nth-child(1),
.panel1 p:nth-child(3),
.panel2 p:nth-child(1),
.panel2 p:nth-child(3) {
    color: #050100;
}
