/**********************************************
*** GENERAL
**********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3B1F2B;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

input {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/**********************************************
*** Pop-up Info & Input
**********************************************/
.info {
    position: fixed;
    width: 25px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.setting-score {
    text-align: center;
    margin: 20px 0 0;
    color: #E2FCEF;
    font-size: 30px;
    font-weight: 600;
}

.setting-score input {
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 20px;
    padding: 0 5px;
    text-align: center;
    color: #222;
}

/**********************************************
*** PLAYERS
**********************************************/
.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
    opacity: 0.6;
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    color: #FFC61B;
    margin-bottom: 130px;
}

.active {
    background-color: #EEF5DB;
    opacity: 1;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #FFC61B;
    top: -7px;
    right: 10px;
}

.player-current-box {
    background-color: #FFC61B;
    color: #FFF;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

.wrapper > button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #2B193D;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.wrapper > button:hover {
    font-weight: 400;
}

.wrapper > button:hover i {
    margin-right: 20px;
}

.wrapper > button:focus {
    outline: none;
}

.wrapper > button i {
    color: #4B8F8C;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
    top: 50px;
}

.btn-roll {
    top: 480px;
}

.btn-hold {
    top: 530px;
}

.dice {
    position: absolute;
    left: 45%;
    top: 178px;
    height: 100px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
}

.animated {
    animation-duration: 0.8s;
    animation-name: bounceIn;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.winner .player-name {
    color: #EB4D4D;
}

.player-winner {
    display: none;
    margin: 0 auto;
    width: 300px;
}
