body {
    background: url('../imgs/thank-you-smile.png') no-repeat center center fixed;
    background-color: #21BEE9;
}

h1 {
    font-weight: 700;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 61%;
    transform: translateX(-50%);
}
