html, body {
    margin: 0;
}

body {
    background: #59344F;
    height: 100vh;
    position: relative;
    width: 100vw;
}

h1 {
    color: #fff;
    font-family: 'Fredoka One', cursive;
    font-size: 5.5vw;
    text-align: center;
    text-shadow: 0 3px #312b2b;
}

.container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pickcolor {
    background: rgba(34, 29, 35, 0.3);
    border: 4px solid rgba(34, 29, 35, 0.08);
    border-radius: 20px;
    padding: 15px;
}

.pickcolor li {
    border-radius: 20%;
    box-shadow: 1px 1px #fff;
    cursor: pointer;
    display: inline-block;
    height: 64px;
    list-style-type: none;
    margin: 0 5px;
    width: 64px;
}

.pickcolor li:nth-child(1) {
    background: #FFBA08;
}

.pickcolor li:nth-child(2) {
    background: #F25F5C;
}

.pickcolor li:nth-child(3) {
    background: #EFABFF;
}

.pickcolor li:nth-child(4) {
    background: #59344F;
}

.pickcolor li:nth-child(5) {
    background: #02A9EA;
}

.pickcolor li:nth-child(6) {
    background: #BCED09;
}

.pickcolor li:nth-child(7) {
    background: #D6FFB7;
}

.message {
    position: fixed;
    width: 300px;
    margin: 0 10px 10px 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}