/* ---------------------------------
Reset CSS
--------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
textarea,
input,
select {
  outline: 0;
}

select {
  appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

/* ---------------------------------
Base Styles
--------------------------------- */
:root {
  --main-color: #fefefe;
  --secondary-color: #d8e7f1;
  --note-color: #617a8b;
  --orange-color: #ffb10a;
  --main-bg-color: #222b31;
  --header-bg-color: #ff424f;
  --header-bg-dark-color: #f83745;
  --sidebar-bg-color: #191c1f;
  --overlay-bg-color: #202123;
  --footer-bg-color: #062a2a;
  --link-color: #f5545f;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* body {
  overflow: hidden;
} */

img {
  display: block;
  width: 100%;
}

.container {
  border: 1px solid pink;
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100%;
  overflow: hidden; */
}

/* ---------------------------------
Header Section
--------------------------------- */
.header {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 230px 1fr auto;
  align-items: center;
  height: 70px;
  background: var(--header-bg-color);
  color: var(--main-color);
}

.header__heading {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  background: var(--header-bg-dark-color);
  text-align: center;
  font-size: 1.5rem;
}

.header__search {
  display: flex;
}

.header__user {
  display: grid;
  grid-gap: 5px;
  justify-items: center;
  position: relative;
  bottom: 0;
  transform: translateY(25px);
  padding: 0 20px;
}

.header__search-icon {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.header__search-bar {
  width: 60%;
}

.header__user-name {
  font-size: 0.75rem;
}

.header__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ---------------------------------
Sidebar Section
--------------------------------- */
.sidebar {
  background: var(--sidebar-bg-color);
}

.sidebar__list {
  margin-top: 60px;
}

.sidebar__item {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar__item-menu {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.sidebar__item-go-icon {
  width: 18px;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.sidebar__item:hover {
  background: var(--main-bg-color);
}

.sidebar__item:hover > .sidebar__item-menu {
  color: var(--link-color);
}

.sidebar__item:hover > .sidebar__item-go-icon {
  visibility: visible;
  opacity: 1;
}

.sidebar__item.is-active {
  background: var(--main-bg-color);
}

.sidebar__item.is-active > .sidebar__item-menu {
  color: var(--link-color);
}

.sidebar__item.is-active > .sidebar__item-go-icon {
  visibility: visible;
  opacity: 1;
}

/* ---------------------------------
Overlay Section
--------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.overlay.is-open {
  visibility: visible;
  opacity: 1;
}

.overlay__inside {
  height: 100%;
  max-width: 700px;
  margin: 20px auto;
  background: var(--overlay-bg-color);
  overflow: auto;
  transform: translateY(-100px);
  transition: transform 0.3s;
}

.overlay.is-open .overlay__inside {
  transform: translateY(0);
}

.overlay__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.overlay__close-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  background: var(--main-color);
}

.overlay__backdrop {
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
}

/* Create black filter */
.overlay__backdrop::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
}

.overlay__main {
  position: relative;
  padding: 0 30px;
  z-index: 1;
}

/* Create white skew shape on top of the image */
.overlay__main::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg-color);
  transform-origin: right;
  transform: skewY(5deg);
  z-index: -1;
}

.overlay__main-header {
  position: absolute;
  top: -290px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: end;
}

.overlay__poster-wrapper {
  position: relative;
  background: url('/imgs/placeholder_movie_list_item.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 150%;
  width: 200px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.overlay__poster {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.overlay__votes {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 1.75rem;
  margin-right: 50px;
  margin-left: 25px;
  border-radius: 50%;
  background: var(--orange-color);
  color: var(--main-color);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.6);
}

.overlay__main-content {
  padding-top: 35px;
  background: var(--overlay-bg-color);
  color: var(--secondary-color);
}

.overlay__container {
  margin-top: 30px;
}

.overlay__container:last-of-type {
  margin-bottom: 40px;
}

.overlay__info-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.overlay__info-heading {
  margin: 0 20px 0 0;
  font-size: 1.75rem;
}

.overlay__info-tag {
  margin: 5px 3px;
  padding: 2px 3px;
  background: var(--note-color);
  border-radius: 6px;
  font-size: 0.75rem;
}

.overlay__info-category {
  color: var(--note-color);
  font-size: 0.875rem;
}

.overlay__info-overview {
  grid-column: 1 / -1;
  line-height: 1.8;
}

.overlay__subheading {
  font-size: 1.25rem;
}

.overlay__cast-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.overlay__cast-item {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.overlay__cast-img-container {
  position: relative;
  background: url('/imgs/placeholder_cast_avatar.png') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.overlay__cast-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.overlay__video-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 56.25%;
  height: 0;
}

.overlay__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---------------------------------
Main Movie List Section
--------------------------------- */
.main {
  height: 100%;
  background-color: var(--main-bg-color);
  padding: 40px;
}

.main__heading {
  font-size: 2rem;
  font-weight: 300;
  color: var(--main-color);
}

.main__heading-highlight {
  background: var(--link-color);
  padding: 0 5px;
}

.main__movie-list {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style-type: none;
  padding: 0;
}

.main__movie-item {
  cursor: pointer;
}

.main__movie-top {
  position: relative;
  background: url('/imgs/placeholder_movie_list_item.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 150%;
}

.main__movie-poster {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.main__movie-votes {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(24px, -20px);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: var(--orange-color);
  color: var(--main-color);
}

.main__movie-bottom {
  margin-top: 20px;
}

.main__movie-name {
  margin: 0 0 5px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-color);
}

.main__movie-category {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--note-color);
}

.main__loader {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main.is-loading .main__loader {
  display: block;
}
