/* ==================================
Base Styles
================================== */
:root {
	--basecolor: #FF8400;
	--spacing: 10px;
	--blur: 1px;
}

body {
	background: rgb(113, 121, 8);
	color: #fff;
	text-align: center;
}

input {
	width: 100px;
}

img {
	background:var(--basecolor);
	padding: var(--spacing);
	filter: blur(var(--blur));
}

.panel-title {
	color: var(--basecolor);
}

.panel-ctrl {
	margin: 0 0 2em;
}
