/*
** Courtesy of Retro Character Sprite Sheet
** https://openclipart.org/detail/215080/retro-character-sprite-sheet
*/

body, html {
	margin: 0;
	padding: 0;
}

body {
	background: #FFE066;
}

blockquote.twitter-tweet {
	max-width: 280px;
}

.boy {
	height: 401px;
	width: 271px;
	margin: 5% auto;
	background: url(boy.png) left center;
	animation: play .8s steps(4) infinite;
}

@keyframes play {
	100% { background-position: -1084px; }
}

.message {
	width: 300px;
	margin: 0 10px 10px 0;
	position: absolute;
	right: 10px;
	bottom: 10px;
}