/* ==================================
   Base Styles
   ================================== */
body {
    background: #dedede;
}

h1, h3, p {
    margin: 0;
}

img {
    width: 100%;
}

/* ==================================
   Search Results
   ================================== */
.github-search h1 {
    font-size: 3em;
    margin: 0 0 .2em 0;
}

.github-repos .github-repos-title h3 {
    margin: 0 0 .5em 0;
}

.github-repos .github-repos-info li {
    display: inline-block;
}

.github-repos .github-repos-info li:first-of-type {
    margin-right: .5em;
}

.github-footer {
    font-size: .9em;
    text-align: center;
}

/* ==================================
   Responsive
   ================================== */
@media only screen and (max-width: 767px) {
    .github-profiles .github-profiles-labels {
        margin-top: 1.5em;
    }

    .github-repos .github-repos-title {
        margin-bottom: .5em;
        overflow-wrap: break-word;
    }

    .github-repos .col-sm-3 ul.list-inline {
        margin: .5em 0 0 0;
    }
}
