@charset "UTF-8";

/* ---------------------------------
Base Styles
--------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #DDE8ED;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 360px;
    height: 600px;
    margin: 1.25em;
    border-radius: 10px;
    border: 1px solid blue;
}


/* ---------------------------------
Current Temprature
--------------------------------- */

.current {
    position: relative;
    height: 300px;
    background: url("./../imgs/current/rainy.jpg") no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.current input[type='checkbox'] {
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 5%;
    left: 80%;
    width: 50px;
    height: 27px;
    border-radius: 60px;
    background: #DDD;
    transition: background 0.4s ease-in-out;
}

.current input[type='checkbox']::before {
    content: '';
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    left: 3px;
    width: 22px;
    height: 22px;
    background: #FFF;
    border-radius: 50%;
    transition: left 0.4s ease-in-out;
}

.current input[type='checkbox']::after {
    content: 'F°';
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 0.8em;
    color: #FFF;
}

.current input[type='checkbox']:checked {
    background: red;
}

.current input[type='checkbox']:checked::before {
    left: 25px;
}

.current input[type='checkbox']:checked::after {
    content: 'C°';
    left: 7px;
}

.current__forecast {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 1.25em;
}

.current__forecast p {
    color: #FFF;
    margin: 0;
}

.current__forecast .current__summary {
    font-size: 1.25em;
    padding: 0 0 10px;
}

.current__forecast .current__location {
    font-size: 1em;
}

.current__forecast .current__temp {
    font-size: 3.5em;
    padding: 10px 0 0;
}