@charset "UTF-8";

/* ---------------------------------
Base Styles
--------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: #DDE8ED;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 370px;
    margin: 1.25em;
    border-radius: 10px;
    box-shadow: 0 3px 10px #CAD5DA;
    overflow: hidden;
}

@media only screen and (max-width: 479px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .wrapper {
        width: 70%;
    }
}

/* ---------------------------------
Current Temprature
--------------------------------- */

.current {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.current input[type='checkbox'] {
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 8%;
    left: 80%;
    width: 50px;
    height: 27px;
    border-radius: 60px;
    background: #DDD;
    transition: background 0.4s ease-in-out;
}

.current input[type='checkbox']::before {
    content: '';
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    left: 3px;
    width: 22px;
    height: 22px;
    background: #FFF;
    border-radius: 50%;
    transition: left 0.4s ease-in-out;
}

.current input[type='checkbox']::after {
    content: 'F°';
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 0.8em;
    color: #FFF;
}

.current input[type='checkbox']:checked {
    background: #FF6B35;
}

.current input[type='checkbox']:checked::before {
    left: 25px;
}

.current input[type='checkbox']:checked::after {
    content: 'C°';
    left: 7px;
}

.current__forecast {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60%;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    text-align: center;
    padding: 15px;
}

.current__forecast p {
    color: #FFF;
    margin: 0;
}

.current__forecast .current__summary {
    font-size: 1.25em;
    font-weight: 700;
    padding: 0 0 10px;
}

.current__forecast .current__location {
    font-size: 1em;
    font-weight: 400;
}

.current__forecast .current__temp {
    font-size: 3.8em;
    font-weight: 900;
    padding: 15px 0 0;
}

.current__forecast .current__temp::after {
    content: '°';
    padding: 0 0 0 8px;
}

/* ---------------------------------
Next Temprature
--------------------------------- */

.next {
    background: #FFF;
    color: #6C7C8A;
}

.next ul {
    padding: 30px;
}

.next__forecast {
    display: flex;
    align-items: center;
}

.next__forecast:not(:last-child) {
    padding: 0 0 25px;
}

.next__forecast .next__weekday {
    flex: 4;
}

@media only screen and (max-width: 481px) {
    .next__forecast .next__weekday {
        flex: 3;
    }
}

.next__forecast .next__weatherIcon {
    flex: 2;
}

.next__forecast .next__weatherIcon img {
    width: 25px;
    height: 25px;
}

.next__forecast .next__maxTemp {
    flex: 1;
    color: #ED6A5A;
}

.next__forecast .next__minTemp {
    flex: 1;
    color: #5CA4A9;
}

/* ---------------------------------
Footer Temprature
--------------------------------- */

.footer__copyright {
    color: #6C7C8A;
    font-size: 0.8em;
}

.footer__copyright a {
    color: #6A687A;
    text-decoration: none;
}
