.hero-slideshow__container {
    position: relative;
    max-width: 1170px;
}

.hero-slideshow__text {
    position: absolute;
    top: 50%;
    margin-left: 5%;
    z-index: 1;
    color: $white;
}

.hero-slideshow__heading {
    font-size: 2.5em;
    font-weight: $weight-700;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 20px 0 10px;
}

.hero-slideshow__heading-bg {
    padding: 10px 20px;
    background: $hover-light-color;
    font-family: $base-font;
    font-weight: $weight-300;
}

.hero-slideshow__subheadings {
    margin-top: 50px;
}

.hero-slideshow__subheading {
    @extend %heading--30;

    text-transform: uppercase;
}

.hero-slideshow__slides {
    @extend %full-width;

    position: relative;
    display: block;
    height: auto;
    padding-top: 52%;
    overflow: hidden;
}

.hero-slideshow__slide {
    @extend %background-cover;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    animation: autoplay 24s linear infinite 0s;
}

.hero-slideshow__slide-1 {
    opacity: 1;
}

.hero-slideshow__slide-2 {
    animation-delay: 6s;
}

.hero-slideshow__slide-3 {
    animation-delay: 12s;
}

.hero-slideshow__slide-4 {
    animation-delay: 18s;
}

@keyframes autoplay {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
        transform: scale(1.1) rotate(2.5deg);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}
