/* ==================================
   Base Styles
   ================================== */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	color: #2c343b;
	font-family: 'Lato', sans-serif;
}

h2 {
	font-family: 'Playfair Display', serif;
}

ul, li, a {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: #a8b4be;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ==================================
   Slideshow Container
   ================================== */
.slideshow {
	position: relative;
}

.slideshow .slideshow-slides {
	height: 360px;
	overflow: hidden;
	position: relative;
}

/* ==================================
   Single Slide
   ================================== */
/*Slide Images*/
.slideshow .slideshow-slides li {
	background: center center no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity .5s ease-in-out;
	width: 100%;
}

.slideshow .slideshow-slides li:first-of-type {
	background-image: url(imgs/slide-01.jpg);
}

.slideshow .slideshow-slides li:nth-of-type(2) {
	background-image: url(imgs/slide-02.jpg);
}

.slideshow .slideshow-slides li:nth-of-type(3) {
	background-image: url(imgs/slide-03.jpg);
}

.slideshow .slideshow-slides li:nth-of-type(4) {
	background-image: url(imgs/slide-04.jpg);
}

.slideshow .slideshow-slides li:nth-of-type(5) {
	background-image: url(imgs/slide-05.jpg);
}

.slideshow .slideshow-slides li.slideshow-slides-isActive {
	opacity: 1;
}

/*Slide Texts*/
.slideshow .slideshow-slides .slideshow-text {
	color: #fff;
	bottom: 20%;
	line-height: 1.2;
	margin: 0 10%;
	position: absolute;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	width: 80%;
}

.slideshow .slideshow-slides .slideshow-text h2 {
	font-size: 2.2rem;
	margin-bottom: 10px;
}

.slideshow .slideshow-slides .slideshow-text p {
	margin-top: 0;
}

/* ==================================
   Slide Navigation
   ================================== */
.slideshow .slideshow-nav {
	background: rgba(0, 1, 1, 0.7);
	bottom: 0;
	height: 55px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
}

.slideshow .slideshow-nav ul,
.slideshow .slideshow-nav li,
.slideshow .slideshow-nav a {
	display: inline-block;
	height: 100%;
}

.slideshow .slideshow-nav ul {
	/* Remove the space between <li> elements */
	display: flex;
	justify-content: center;
}

.slideshow .slideshow-nav ul li {
	background: rgba(0, 1, 1, 0.1);
	width: 60px;
}

.slideshow .slideshow-nav ul li a {
	border-top: 3px solid transparent;
	display: block;
	font-size: .7rem;
	font-weight: 700;
	padding: 2px 5px;
	position: relative;
	transition: background .5s ease-in-out;
}

.slideshow .slideshow-nav ul li .nav-icon {
	display: block;
	font-size: 1.4rem;
	padding: 5px;
}

.slideshow .slideshow-nav ul li.slideshow-nav-isActive a {
	background: #fff;
	border-top-color: #FA7921;
	color: #2c343b;
}

.slideshow .slideshow-nav li.slideshow-nav-isActive .nav-icon {
	color: #FA7921;
}

/* ==================================
   Main Content
   ================================== */
.content {
	margin: 0 auto;
	max-width: 768px;
	padding: 1em 0;
	width: 90%;
}

.content p {
	color: #999999;
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 2em 0;
}

.content p a {
	border-bottom: 1px dotted #FA7921;
}

/* ==================================
   Responsive Layout
   ================================== */
@media only screen and (min-width: 768px) {
	.slideshow .slideshow-slides {
		height: 500px;
	}

	.slideshow .slideshow-slides .slideshow-text {
		bottom: 25%;
	}

	.slideshow .slideshow-slides .slideshow-text h2 {
		font-size: 2.4rem;
	}

	.slideshow .slideshow-slides .slideshow-text p {
		font-size: 1.1rem;
	}

	.slideshow .slideshow-nav {
		height: 70px;
	}

	.slideshow .slideshow-nav ul li {
		width: 75px;
	}

	.slideshow .slideshow-nav ul li a {
		font-size: .8rem;
	}

	.slideshow .slideshow-nav ul li .nav-icon {
		font-size: 1.5rem;
	}

	.content p {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1170px) {
	.slideshow .slideshow-slides {
		height: 680px;
	}

	.slideshow .slideshow-slides .slideshow-text h2 {
		font-size: 2.6rem;
		margin-bottom: 15px;
	}

	.slideshow .slideshow-slides .slideshow-text p {
		font-size: 1.2rem;
		line-height: 1.5;
		max-width: 60%;
	}

	.slideshow .slideshow-nav {
		height: 80px;
	}

	.slideshow .slideshow-nav ul li {
		width: 95px;
	}

	.slideshow .slideshow-nav ul li a {
		font-size: .9rem;
		padding: 8px 5px;
	}

	.slideshow .slideshow-nav ul li .nav-icon {
		font-size: 1.6rem;
	}

	.content {
		max-width: 850px;
	}

	.content p {
		font-size: 1.3em;
		text-align: justify;
	}
}
