.main-section {
    @include media(above-tablet) {
        padding-bottom: 100px;
    }

    @include media(below-tablet) {
        padding-bottom: 60px;
    }
}

.main-section__header {
    margin-bottom: 50px;
}

.main-section__heading {
    text-transform: uppercase;
}

.main-section__line {
    width: 40px;
    height: 1px;
    margin: 0 0 20px;
    border: 0;
    background: $black;
}

.main-section__subheading {
    @extend %heading--14;
}

.main-section__quote {
    @extend %paragraph--18;

    text-transform: uppercase;
    margin-bottom: 30px;
}

.main-section__description {
    @extend %paragraph--16;
}