.column {
    @extend %lost-clearfix;
}

.column--3 {
    .column__item {
        @include media('above-tablet') {
            lost-column: 1/3;
        }

        @include media('below-tablet') {
            lost-column: 1/1;
        }
    }
}

.column--12 {
    .column__item--7 {
        lost-column: 7/12 12 35px;
    }

    .column__item--5 {
        lost-column: 5/12 12 35px;
    }
}

