// .column {
//     @extend %lost-clearfix;
// }

.column {
    lost-masonry-wrap: no-flex;
}

.column__item {
    margin-bottom: 30px;
}

.column--2 {
    .column__item {
        @include media('above-tablet') {
            lost-column: 1/2;
        }

        @include media('below-tablet') {
            lost-column: 1/1;
        }
    }

    &.column--no-gap {
        .column__item {
            @include media('above-tablet') {
                lost-column: 1/2 0 0;
            }

            @include media('below-tablet') {
                lost-column: 1/1;
            }
        }
    }
}

// .column--3 {
//     .column__item {
//         @include media('above-tablet') {
//             lost-column: 1/3;
//         }

//         @include media('below-tablet') {
//             lost-column: 1/1;
//         }
//     }
// }

.column--3 {
    .column__item {
        @include media('above-tablet') {
            lost-masonry-column: 1/3;
        }

        @include media('below-tablet') {
            lost-masonry-column: 1/1;
        }
    }
}

.column--12 {
    .column__item--5 {
        lost-column: 5/12 12 50px;
    }

    .column__item--7 {
        lost-column: 7/12 12 50px;
    }
}

// .flex-column {
//     display: flex;
// }

// .flex-column__item--4 {
//     flex: 4;
// }

// .flex-column__item--3 {
//     flex: 3;
// }

