%heading--36 {
    font-size: 1.125em;
    font-weight: $weight-700;
    letter-spacing: 1.3pt;
}

%heading--15 {
    font-size: 0.9375em;
    line-height: 1.2;
}

%paragraph--14 {
    font-size: 0.875em;
    line-height: 1.5;
}