%heading--30 {
    font-family: 'Lekton', sans-serif;
    font-size: 1.875em;
    letter-spacing: 2.5px;
}

%heading--15 {
    font-size: 0.9375em;
    line-height: 1.2;
}

%paragraph--14 {
    font-size: 0.875em;
    line-height: 1.5;
}

