* {
	box-sizing: border-box;
}

body {
	background: url('mac-desktop-wallpaper.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
}

.container {
	max-width: 1200px;
	margin: 5em auto;
}

.wrapper {
/*	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);*/
	margin: 0 20px;
}

@media (min-width: 768px) {
	.wrapper {
		margin: 0 100px;
	}
}

/* ==================================
   Editor Control Bar
   ================================== */
.editor-bar {
	background: #e4e4e4;
/*	box-shadow: 0 2px 2px rgba(224, 217, 217, 0.3);*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 35px;
	position: relative;
}

.editor-bar .heading {
	color: #868286;
	font-size: .8em;
	left: 50%;
	position: absolute;
	text-transform: uppercase;
	top: 12px;
	transform: translateX(-50%);
}

.editor-bar .control-panel {
	cursor: pointer;
	float: left;
	line-height: 35px;
	list-style: none;
	margin: 3px 0 0 20px;
	padding: 0;
}

.control-panel .button {
	border-radius: 50%;
	display: inline-block;
	height: 15px;
	width: 15px;
}

.button-1 {
	background: #df6963;
}

.button-2 {
	background: #f5e18a;
}

.button-3 {
	background: #97c38a;
}

/* ==================================
   Textarea
   ================================== */
.input-text {
	background: #f5f5f5;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
	color: #7b7b7b;
	border: 0;
	height: 500px;
	outline: none;
	padding: 20px;
	width: 100%;
}

.input-text #heading {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 15px;
}

.input-text #content {
	font-size: 1.1em;
	height: 410px;
	line-height: 1.5;
	overflow: scroll;
}

div:focus {
	outline: none;
}