.contact-form {
    padding: 60px;
}

.contact-form__group {
    position: relative;
}

.contact-form__label {
    @extend %paragraph--16;

    position: absolute;
    display: block;
    height: 30px;
    margin: 0 0 5px 15px;
    transform: translateY(60%);
    transition: all 0.3s;
    color: lighten($gray, 30%);
    pointer-events: none;

    &.input-is-focus {
        font-size: 0.75em;
        line-height: 2.5;
        transform: translateY(0);
    }
}

.contact-form__input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 15px 15px 0;
    border: 1px solid $lighter-gray;
    color: $black;
    background-color: $white;
}

