.footer {
    // background: $light-gray;
    background: #30323d;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
}

.footer-nav {
    // border: 1px solid black;
    height: 120px;
}

.footer-nav--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-nav__heading {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $lighter-gray;
}

.footer-nav__item,
.footer-nav__copyright {
    @extend %paragraph--14;

    color: $lighter-gray;
}

.footer-nav__link {
    &:hover {
        color: $hover-light-color;
    }
}

.footer-social__btn {
    display: inline-block;
    cursor: pointer;

    &:not(:last-of-type) {
        margin-right: 5px;
    }
}

.footer-social__icon {
    color: $lighter-gray;

    &:hover {
        color: $hover-light-color;
    }
}

.footer-nav__copyright {
    text-transform: uppercase;
}
