.header {
    padding: 10px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    padding: 0 20px;
    display: inline-block;
}

.nav__link {
    @extend %heading--15;

    color: $dark-gray;
    // font-weight: $weight-400;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s;

    @include media(above-desktop) {
        &:hover {
            color: $blue;
        }
    }
}

.hamburger-btn {
    position: relative;
    display: block;
    width: 25px;
    height: 62px;
    background: green;
    // margin: 17px 0;
    cursor: pointer;

    // @include media(above-desktop) {
    //     &:hover {
    //         .hamburger-btn__line::before {
    //             top: -7px;
    //         }

    //         .hamburger-btn__line::after {
    //             top: 7px;
    //         }
    //     }
    // }
}

.hamburger-btn__line {
    display: block;
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    background: $black;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 25px;
        height: 2px;
        background: $black;
        transition: transform 0.2s ease;
    }

    &::before {
        top: -5px;
    }

    &::after {
        top: 5px;
    }

    .btn-is-active & {
        background: transparent; // Middle line 

        &::before {
            top: 0;
            transform: rotate(45deg);
            transform-origin: center center;
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
            transform-origin: center center;
        }
    }
}
