/* ---------------------------------
SCSS Variables & Mixins
--------------------------------- */
@font-face {
  font-family: 'fontello';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/829617/fontello.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/829617/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* ---------------------------------
Default Styles
--------------------------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background: #f5f5f5; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

input[type="number"],
input[type="text"] {
  margin: 0;
  outline: 0;
  border-radius: 0;
  background: none;
  vertical-align: middle;
  -webkit-appearance: none; }

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }

/* ---------------------------------
Settings
--------------------------------- */
.settings {
  position: fixed;
  width: 100%;
  -webkit-transform: translatey(-88%);
          transform: translatey(-88%);
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }

.settings__panel {
  padding: 1.25rem 0 2.5rem;
  background: #2a2a2a;
  border-bottom: 4px solid #ff634e; }

.settings__panel-wrap {
  max-width: 1024px;
  margin: auto; }

.settings__btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1px; }
  .settings__btn-holder.settings__btn-holder--right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.settings__add-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem;
  background: #181818;
  color: #ffffff;
  border-radius: 50%; }
  .settings__add-btn::before {
    content: attr(title);
    display: none;
    position: absolute;
    right: calc(100% + 5px);
    width: 80px;
    padding: 3px;
    background: #ffffff; }
  .settings__add-btn::after {
    display: none;
    content: '';
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #ffffff;
    border-right-width: 0; }
  .settings__add-btn:hover {
    background: #ffffff; }
    .settings__add-btn:hover::before, .settings__add-btn:hover::after {
      display: inline-block; }
    .settings__add-btn:hover::before {
      color: #181818; }
    .settings__add-btn:hover .icon-plus::before {
      background: #ffffff;
      color: #181818; }

.icon-plus::before {
  display: inline-block;
  content: '\e800';
  font-family: "fontello";
  width: 1em;
  color: #ffffff;
  font-size: 1.125rem;
  text-align: center; }

.settings__list {
  margin-bottom: 2.5rem; }

.settings__item {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 40px 60px 60px 70px 260px 400px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem;
  background: #ffffff; }

.settings__item--header {
  background: transparent; }

.settings__column--header {
  font-size: 0.875rem;
  color: #b0b4b8; }

.settings__select,
.settings__number,
.settings__text {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid #dfe4ef;
  outline: 0;
  font-size: 1rem;
  line-height: 2; }

.settings__delete-icon {
  width: 20px;
  cursor: pointer; }

.settings__submit-btn {
  padding: 0.625rem;
  background: #181818;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .settings__submit-btn:hover {
    background: #ffffff;
    color: #181818; }

.settings__edit-btn {
  padding: 1rem 1.25rem;
  background: #ff634e;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }
  .settings__edit-btn:hover {
    background: #ff563f; }

/* ---------------------------------
Preview Loading Animation
--------------------------------- */
.feature-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .feature-wrap.is-loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #181818;
    opacity: 0.3;
    z-index: 3; }
  @media (max-width: 1024px) {
    .feature-wrap {
      display: block; } }

.bounce-loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  z-index: 4; }
  .is-loading .bounce-loading {
    display: block; }

.bounce-loading__dot {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-animation: loadingContent 1.4s ease-in-out 0s infinite both;
          animation: loadingContent 1.4s ease-in-out 0s infinite both; }
  .bounce-loading__dot.bounce-loading__dot--1 {
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s; }
  .bounce-loading__dot.bounce-loading__dot--2 {
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s; }

@-webkit-keyframes loadingContent {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes loadingContent {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/* ---------------------------------
Feature Zoom
--------------------------------- */
.feature-zoom {
  width: 100%;
  height: 100vh;
  z-index: 1; }
  @media (max-width: 1024px) {
    .feature-zoom {
      height: 80vh; } }
  @media (max-width: 550px) {
    .feature-zoom {
      height: 50vh; } }

.feature-zoom__img {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .feature-zoom__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    z-index: -1; }

/* ---------------------------------
Feature Carousel
--------------------------------- */
.feature-carousel {
  position: absolute;
  top: 50%;
  right: 5rem;
  max-width: 550px;
  width: 100%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  z-index: 2; }
  @media (max-width: 1024px) {
    .feature-carousel {
      position: relative;
      top: 0;
      right: auto;
      width: calc(100% - 5rem);
      margin: -3.75rem auto 0;
      -webkit-transform: none;
              transform: none; } }

.feature-carousel__list {
  padding: 3.75rem 0;
  background: #ffffff; }

.feature-carousel__item {
  padding: 0 3.75rem; }
  @media (max-width: 1024px) {
    .feature-carousel__item {
      padding: 0 1.25rem; } }

.feature-carousel__btn {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
  margin: 0;
  padding: 0; }
  .feature-carousel__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s; }
  .feature-carousel__btn:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .feature-carousel__btn::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin: auto;
    border-top: 2px solid #181818;
    border-left: 2px solid #181818;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .feature-carousel__btn.feature-carousel__btn--prev, .feature-carousel__btn.feature-carousel__btn--next {
    position: absolute;
    top: -3.75rem; }
    @media (max-width: 1024px) {
      .feature-carousel__btn.feature-carousel__btn--prev, .feature-carousel__btn.feature-carousel__btn--next {
        top: 50%; } }
  .feature-carousel__btn.feature-carousel__btn--prev {
    right: 5rem; }
    @media (max-width: 1024px) {
      .feature-carousel__btn.feature-carousel__btn--prev {
        left: -2.5rem;
        right: 0; } }
  .feature-carousel__btn.feature-carousel__btn--next {
    right: 0; }
    .feature-carousel__btn.feature-carousel__btn--next::after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    @media (max-width: 1024px) {
      .feature-carousel__btn.feature-carousel__btn--next {
        right: -2.5rem; } }
  .feature-carousel__btn.slick-disabled::before, .feature-carousel__btn.slick-disabled::after {
    opacity: 0.25; }
  @media (max-width: 550px) {
    .feature-carousel__btn {
      width: 2.5rem;
      height: 2.5rem; } }

.feature-carousel__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.feature-carousel__label-line {
  display: inline-block;
  width: 3.625rem;
  height: 1px;
  margin: 0 0.625rem;
  background-color: #181818;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.4s ease-out 0.3s;
  transition: -webkit-transform 0.4s ease-out 0.3s;
  transition: transform 0.4s ease-out 0.3s;
  transition: transform 0.4s ease-out 0.3s, -webkit-transform 0.4s ease-out 0.3s; }
  .slick-active .feature-carousel__label-line {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  @media (max-width: 550px) {
    .feature-carousel__label-line {
      width: 3rem; } }

.feature-carousel__label-text {
  font-size: 0.875rem;
  font-weight: bold; }
  @media (max-width: 550px) {
    .feature-carousel__label-text {
      font-size: 0.625rem; } }

.feature-carousel__description {
  margin-top: 3.75rem;
  font-size: 1.5rem;
  line-height: 1.6; }
  @media (max-width: 1024px) {
    .feature-carousel__description {
      font-size: 1.125rem; } }
  @media (max-width: 550px) {
    .feature-carousel__description {
      font-size: inherit; } }

/*# sourceMappingURL=maps/style.css.map */
