@import "normalize.css";

body {
	background: #FFE066;
}

main {
	position: relative;
}

.boy {
	height: 401px;
	width: 271px;
	margin: 2% auto;
	background: url(boy.png) left center;
	animation: play .8s steps(4) infinite;
}

@keyframes play {
	100% { background-position: -1084px; }
}

.message {
	width: 300px;
	position: absolute;
	right: 20px;
	bottom: 10px;
}

blockquote.twitter-tweet {
	max-width: 280px;
}

https://openclipart.org/detail/215080/retro-character-sprite-sheet

CSS Only Sprite Animation Tutorial