.fill-color-btn {
    @extend %paragraph--18;

    display: block;
    max-width: 175px;
    width: 100%;
    margin: 30px auto;
    padding: 10px 20px;
    text-align: center;
    background: $base-color;
    color: $white;
    letter-spacing: 1.5px;
    transition: background 0.3s;

    @include media(above-desktop) {
        &:hover {
            background: $hover-color;
        }
    }
}
