/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white: #fff;
$black: #111;

$light-gray: #f4f4f4;
$gray: #787878;

$blue: #1095d7;

/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
$inner-wrapper-l: 1170px;
$inner-wrapper-m: 970px;
$inner-wrapper-s: 750px;

/* ------------------------------------
 *  Font
 * ------------------------------------ */
$base-font: 'Lato', PingFangTC-Thin, Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
$chinese-font: "微軟正黑體", "Microsoft JhengHei", sans-serif;

$weight-300: 300;
$weight-400: 400;
$weight-700: 700;
