/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white: #fff;
$black: #111;

$base-color: #2d3142;
$hover-color: #c8963e;
// $hover-color: #CD9F4F;
$hover-light-color: #d7b272;

$gray: #787878;
$lighter-gray: #e6e6e6;
$light-gray: #7a7979;
$dark-gray: #383838;

$blue: #1095d7;

/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
$inner-wrapper-l: 1170px;
$inner-wrapper-m: 970px;
$inner-wrapper-s: 750px;

/* ------------------------------------
 *  Font
 * ------------------------------------ */
$heading-font: 'Lekton', Helvetica, Arial, sans-serif;
$base-font: 'Ubuntu', Helvetica, Arial, sans-serif;
$unique-font: 'Halant', serif;

$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

/* ------------------------------------
 *  Icon
 * ------------------------------------ */
$icomoon-font-path: "fonts" !default;

$icon-flight: "\e539";
$icon-apps: "\e5c3";
$icon-audiotrack: "\e3a1";
$icon-cached: "\e86a";
$icon-phone: "\e0cd";
$icon-redeem: "\e8b1";
$icon-navigate_before: "\e408";
$icon-navigate_next: "\e409";
$icon-child_care: "\eb41";
$icon-directions_bike: "\e52f";
$icon-markunread: "\e159";
$icon-favorite: "\e87d";
$icon-favorite_border: "\e87e";
$icon-headset: "\e310";
$icon-home2: "\e88a";
$icon-keyboard_arrow_left: "\e314";
$icon-keyboard_arrow_right: "\e315";
$icon-local_bar: "\e540";
$icon-local_cafe: "\e541";
$icon-local_library: "\e54b";
$icon-theaters: "\e8da";
$icon-room: "\e8b4";
$icon-mail_outline: "\e0e1";
$icon-motorcycle2: "\e91b";
$icon-music_video: "\e063";
$icon-phone_android: "\e324";
$icon-power: "\e63c";
$icon-sentiment_very_satisfied: "\e815";
$icon-view_comfy: "\e42a";
$icon-watch: "\e334";
$icon-glass: "\f000";
$icon-music: "\f001";
$icon-envelope-o: "\f003";
$icon-heart: "\f004";
$icon-th: "\f00a";
$icon-home: "\f015";
$icon-refresh: "\f021";
$icon-headphones: "\f025";
$icon-map-marker: "\f041";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-gift: "\f06b";
$icon-facebook-square: "\f082";
$icon-heart-o: "\f08a";
$icon-twitter: "\f099";
$icon-feed: "\f09e";
$icon-rss: "\f09e";
$icon-flask: "\f0c3";
$icon-pinterest: "\f0d2";
$icon-coffee: "\f0f4";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-tablet: "\f10a";
$icon-smile-o: "\f118";
$icon-gamepad: "\f11b";
$icon-flag-checkered: "\f11e";
$icon-youtube: "\f167";
$icon-instagram: "\f16d";
$icon-tumblr-square: "\f174";
$icon-child: "\f1ae";
$icon-behance-square: "\f1b5";
$icon-binoculars: "\f1e5";
$icon-newspaper-o: "\f1ea";
$icon-bicycle: "\f206";
$icon-motorcycle: "\f21c";
