/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white: #fff;
$black: #3c3c3c;

$light-gray: #f4f4f4;
$gray: #787878;

/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
$inner-wrapper-l: 1170px;
$inner-wrapper-m: 970px;
$inner-wrapper-s: 750px;

/* ------------------------------------
 *  Font
 * ------------------------------------ */
$base-font: 'Lato', PingFangTC-Thin, Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
$chinese-font: "微軟正黑體", "Microsoft JhengHei", sans-serif;

// $size-32: 2em;
// $size-24: 1.5em;
// $size-20: 1.25em;
// $size-18: 1.125em;
// $size-14: 0.875em;

$weight-400: 400;
$weight-500: 500;
$weight-700: 700;
