/* ---------------------------------
Base Styles
--------------------------------- */
:root {
	--mainColor: #A5BE00;
	--focusColor: #889C00;
}

* {
	box-sizing: border-box;
}

html {
    /*height: 100%;*/
}

body {
    background: #f5f6f7;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /*height: 100%;*/
}

/* ---------------------------------
Register Form
--------------------------------- */
form#registration {
    left: 50%;
    margin: 2rem 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 350px;
    /*z-index: 1;*/
}

fieldset {
	border: none;
	margin: 0 0 1rem 0;
	padding: 0;
}

legend, label {
	display: inline-block;
	margin-bottom: .5rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: .25rem;
	display: block;
	height: 34px;
	padding: .5rem;
	outline: none;
	width: 100%;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
select:focus {
	border-color: var(--mainColor);
}

select {
	font-size: .875rem;
}

input[type="checkbox"],
input[type=radio] {
	background: #fff;
	border: 1px solid #e5e5e5;
	height: 22px;
	margin: 0 .5rem;
	position: relative;
	top: 5px;
	outline: none;
	width: 22px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input[type='radio'] {
    border-radius: 50%;
}

input[type='radio']:checked {
    background: var(--focusColor);
    border: 5px solid #fff;
}

input[type='checkbox'] {
	border-radius: 5px;
}

input[type='checkbox']:checked {
	background: var(--focusColor);
	border: none;
}

input[type='checkbox']:checked::after {
	content: '';
	/*background-color: black;*/
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	display: block;
	height: 4px;
	transform: rotate(-45deg) translate(-1px, 7px);
	width: 10px;
}

button {
    background-color: var(--focusColor);
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(148, 148, 148, 0.5);
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    margin: 2.5em auto;
    outline: none;
    padding: .5em 1.8em;
}

button:hover {
    background: var(--mainColor);
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    transform: scale(1.1);
    transition: background .4s;
}

/* Error Messages */
.errorMsg li.isInvalid {
	color: #e74c3c;
}

.errorMsg li.isValid {
	color: #2ecc71;
}

.errorMsg li.isValid::after {
	content: '\2713';
	display: inline-block;
	padding-left: 10px;
}

#errorMsg-name, #errorMsg-email, #errorMsg-password, #errorMsg-confirm-password {
	display: none;
}

input[type='text']:focus + #errorMsg-name {
	display: block;
}

input[type='email']:focus + #errorMsg-email {
	display: block;
}

input[type='password']:focus + #errorMsg-password {
	display: block;
}

input[type='password']:focus + #errorMsg-confirm-password {
	display: block;
}
