/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white: #fff;
$secondary-color: #233e75;
$background-color: #18294f;

/* ------------------------------------
 *  Font
 * ------------------------------------ */
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;
