@import 'reset';
@import 'variables';
@import 'mixins';
@import 'column';

// Base style
body {
    font-family: 'Ubuntu', sans-serif;
    background: $background-color;
    color: $white;
}

a:link,
a:visited,
a:hover,
a:active {
    color: $white;
}

// Header
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $secondary-color;
    padding: 3px;
    height: 40px;
}

.header__left {
    display: flex;
}

.header__logo {
    width: 100%;
}

.header__logo-small {
    display: block;

    @include media('above-mobile') {
        display: none;
    }
}

.header__logo-large {
    display: none;

    @include media('above-mobile') {
        display: block;
    }
}

.header__title {
    font-size: 1em;
    font-weight: $weight-700;
    margin-left: 45px;
}

.nav {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    transition: left 0.3s;

    &.nav-is-open {
        position: fixed;
        left: 0;
    }
}

.nav__btn {
    position: absolute;
    top: 0;
    left: 100%;
    width: 40px;
    height: 40px;

    .nav-is-open & {
        background-color: darken($background-color, 10%);
    }
}

.nav__btn-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: url('/dist/img/nav-icon.svg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: hidden;

    .nav-is-open & {
        background-position: bottom left;
    }
}

.nav__list {
    height: 100vh;
    background: darken($background-color, 10%);
    padding: 20px;
    overflow-y: auto;

    .breakline__title {
        background: darken($background-color, 10%);
    }
}

.nav__second-list {
    margin-left: 10px;
}

.nav__item {
    text-decoration: underline;
    cursor: pointer;

    &:not(:last-of-type) {
        padding-bottom: 5px;
    }
}

// Main & Panel
.main-board {
    display: block;
    margin-top: 20px;
}

.breakline {
    display: block;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, lighten($secondary-color, 20%) 50%, lighten($secondary-color, 20%) 55%, transparent 55%, transparent 100%);
}

.breakline__title {
    padding: 10px 10px 10px 0;
    display: inline-block;
    background: $background-color;
    font-size: 1.25em;
}

.panel {
    padding: 10px;
}

.panel__container {
    margin-top: 25px;
}

// Fahrest distance
.farthest__content {
    text-align: center;
    margin: 40px 0;
}

.farthest__number {
    display: block;
    font-size: 2.5em;
    font-weight: $weight-700;
    line-height: 1.5;

    @include media('above-mobile') {
        font-size: 3.5em;
    }

    @include media('above-tablet') {
        font-size: 2.5em;
    }

    @include media('above-desktop') {
        font-size: 4em;
    }
}

.farthest__name {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;

    @include media('above-mobile') {
        font-size: 1em;
    }
}

// Probe distances
.bar-chart {
    display: block;
    width: 100%;
    max-width: 24em;
    margin: 0 auto;
}

.bar {
    animation: slideup 1.5s ease-out;
    transform-origin: 0 450px; // See definition: http://bit.ly/2jqqf2v
}

@keyframes slideup {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

// Probe details
.table-wrapper {
    overflow-x: auto;
}

.border-table {
    width: 100%;
    min-width: 30em;
}

.border-table__caption {
    margin: 10px 0 25px;
    font-style: italic;
}

.border-table__header {
    background: $secondary-color;
}

.border-table__title,
.border-table__cell {
    padding: 8px;
    text-align: left;
}

.border-table__title {
    font-weight: $weight-500;
}

.border-table__row {
    &:not(:last-of-type) {
        border-bottom: 1px solid $secondary-color;
    }
}

// Probe destination
.tabs {
    margin-bottom: 20px;
}

.tab {
    display: inline-block;
    border-bottom: 1px solid $secondary-color;

    &:not(:first-of-type) {
        margin-left: -4px;
    }
}

.tab__link {
    display: block;
    padding: 15px 20px;
}

.tab__is-active {
    border: 1px solid $secondary-color;
    border-bottom-color: transparent;
}

.tab-panel {
    @include media('above-mobile') {
        display: flex;
    }
}

.tab-panel__image {
    display: block;
    width: 100%;
    height: 100%;

    @include media('above-mobile') {
        flex: 3;
        width: 50%;
    }
}

.tab__details {
    display: inline-block;
    margin-top: 30px;

    @include media('above-mobile') {
        flex: 2;
        margin-top: 0;
        margin-left: 20px;
    }
}

.tab__details-title {
    font-weight: $weight-700;
    padding-bottom: 8px;
}

.tab__details-description {
    padding-bottom: 8px;
}
