@import 'reset';
@import 'variables';

body {
    font-family: 'Ubuntu', sans-serif;
    background: $background-color;
    color: $white;
}

a:link,
a:visited,
a:hover,
a:active {
    color: $white;
}

// Header
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $secondary-color;
    height: 40px;
    border: 1px solid red;
}

.header__left {
    display: flex;
}

.header__logo {
    width: 100%;
    // height: 40px;
}

.header__title {
    font-size: 1em;
    font-weight: $weight-700;
    margin-left: 45px;
}

.nav {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    transition: left 0.3s;

    &.nav-is-active {
        left: 0;
    }
}

.nav__btn {
    position: absolute;
    top: 0;
    left: 100%;
    width: 40px;
    height: 40px;
}

.nav__btn-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: url('/dist/img/nav-icon.svg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: hidden;

    .nav-is-active & {
        background-position: bottom left;
    }
}

.nav__list {
    height: 100vh;
    background: darken($background-color, 10%);
    padding: 20px;
    overflow-y: auto;
}

.nav__second-list {
    margin-left: 10px;
}

.nav__label {
    position: absolute;
    top: -10px;
    padding-right: 5px;
    background: darken($background-color, 10%);
    font-size: 1.25em;
}

.nav__label-line {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: $secondary-color;
    vertical-align: middle;
    margin: 20px 0 15px;
}

.nav__item {
    text-decoration: underline;
    cursor: pointer;

    &:not(:last-of-type) {
        padding-bottom: 5px;
    }
}

// Main & Panel
.main-board {
    // display: flex;
    // flex-wrap: wrap;
    display: block;
    margin-top: 20px;
    border: 1px solid red;
}

.panel {
    // flex: 1 1 100%;
    width: 100%;
    padding: 20px;
    border: 1px solid green;
}

.panel__container {
    margin-top: 25px;
}

.panel__title-line {
    display: block;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, lighten($secondary-color, 20%) 50%, lighten($secondary-color, 20%) 60%, transparent 60%, transparent 100%);
}

.panel__title {
    padding-right: 10px;
    display: inline-block;
    background: $background-color;
    font-size: 1.25em;
}

// Fahrest distance
.farthest__content {
    text-align: center;
}

.farthest__number {
    display: block;
    font-size: 2.5em;
    font-weight: $weight-700;
    line-height: 1.3;
}

.farthest__name {
    display: block;
    font-size: 0.875em;
}

// Probe distances
.bar-chart {
    display: block;
    width: 100%;
    max-width: 24em;
    margin: 0 auto;
}

// Probe details
.table-wrapper {
    overflow-x: auto;
}

.border-table {
    width: 100%;
    min-width: 30em;
}

.border-table__caption {
    margin: 10px 0 25px;
    font-style: italic;
}

.border-table__header {
    background: $secondary-color;
}

.border-table__title,
.border-table__cell {
    padding: 8px;
    text-align: left;
}

.border-table__title {
    font-weight: $weight-500;
}

.border-table__row {
    &:not(:last-of-type) {
        border-bottom: 1px solid $secondary-color;
    }
}

// Probe destination
.tabs {
    margin-bottom: 20px;
}

.tab {
    display: inline-block;
    border-bottom: 1px solid $secondary-color;

    &:not(:first-of-type) {
        margin-left: -4px;
    }
}

.tab__link {
    display: block;
    padding: 15px 20px;
}

.tab__is-active {
    border: 1px solid $secondary-color;
    border-bottom-color: transparent;
}

.tab-panel__image {
    width: 100%;
}

.tab__details {
    display: inline-block;
    margin-top: 30px;
}

.tab__details-title {
    font-weight: $weight-700;
    padding-bottom: 8px;
}

.tab__details-description {
    padding-bottom: 8px;
}