@import 'reset';
@import 'variables';

body {
    font-family: 'Ubuntu', sans-serif;
    background: $background-color;
    color: $white;
}

// Header
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $secondary-color;
    height: 40px;
}

.header__left {
    display: flex;
}

.header__title {
    font-size: 1em;
    font-weight: $weight-700;
    margin-left: 45px;
}

.nav {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    transition: left 0.3s;

    &.nav-is-active {
        left: 0;
    }
}

.nav__btn {
    position: absolute;
    top: 0;
    left: 100%;
    width: 40px;
    height: 40px;
}

.nav__btn-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: url('/dist/img/nav-icon.svg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: hidden;

    .nav-is-active & {
        background-position: bottom left;
    }
}

.nav__list {
    height: 100vh;
    background: darken($background-color, 10%);
    padding: 20px;
    overflow-y: auto;
}

.nav__second-list {
    margin-left: 10px;
}

.nav__label {
    position: absolute;
    top: -10px;
    padding-right: 5px;
    background: darken($background-color, 10%);
    font-size: 1.25em;
}

.nav__label-line {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: $secondary-color;
    vertical-align: middle;
    margin: 20px 0 15px;
}

.nav__item {
    text-decoration: underline;
    cursor: pointer;

    &:not(:last-of-type) {
        padding-bottom: 5px;
    }
}

// Main & Panel
.main-board {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.panel {
    flex: 1 1 50%;
    padding: 25px;
}

.panel__title-line {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: lighten($secondary-color, 20%);
    margin-bottom: 20px;
}

.panel__title {
    position: absolute;
    top: -10px;
    padding-right: 5px;
    background: $background-color;
    font-size: 1.25em;
}

// Fahrest distance
.farthest__content {
    text-align: center;
    margin: 2.5em 0;
}

.farthest__number {
    display: block;
    font-size: 4.5em;
    font-weight: $weight-700;
    line-height: 1.3;
}

.farthest__name {
    display: block;
    font-size: 0.875em;
}
